@tailwind base;
@tailwind components;
@tailwind utilities;

@import '@radix-ui/colors/grass.css';
@import '@radix-ui/colors/grass-dark.css';
@import '@radix-ui/colors/gray.css';
@import '@radix-ui/colors/gray-dark.css';

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

@supports (font: -apple-system-body) and (-webkit-appearance: none) {
  img[loading='lazy'] {
    clip-path: inset(0.6px);
  }
}

.text-title {
  color: var(--gray-12);
}
.text-body {
  color: var(--gray-11);
}

.button-bg {
  background-color: var(--grass-9);
}
.button-bg:hover {
  background-color: var(--grass-10);
}

a,
input,
button {
  @apply focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-neutral-400 focus-visible:ring-offset-2 focus-visible:ring-offset-neutral-50 dark:focus-visible:ring-neutral-600 dark:focus-visible:ring-offset-neutral-900;
}
